.clgname{	height:100px;
	width:100%;
	background-color:#fff;
	color:purple;
	float:center;
}
.clgname img{ 	float:right;
	height:150px;
	width:150px;
}
.clgname h1{	font-size:50px;
}
.clgname p{	float:right;
	font-size:28px;
}
.bottomPart{
	height: 620px;
}
.frame{
	padding: 0%;
	border:0px solid black;
	display: inline-block;
}

*{
        padding:0;
        margin:0;
        box-sizing:border-box;
    }
    .menu-bar{
        background:purple;
        text-align:center;
    }
    .menu-bar ul{
        display: inline-flex;
        list-style:none;
        color:#fff;
    }
    .menu-bar ul li{
        width:120px;
        margin:15px;
        padding: 15px;
    }
    .menu-bar ul li a{
        color:#fff;
        text-decoration: none;
    }
    .active , .menu-bar ul li:hover{
        background:rgb(186, 85, 186);
        border-radius: 3px;
    }
    .sub-menu1{
        display: none;
    }
    .menu-bar ul li:hover .sub-menu1{
        display:block;
        position: absolute;
        background-color:purple;
        margin-top: 15px;
        margin-left: -15px;
    }
    .menu-bar ul li:hover .sub-menu1 ul{
        display: block;
        margin:10px;
    }
    .menu-bar ul li:hover .sub-menu1 ul li{
        width:150px;   
        padding: 10px;
        border-bottom: 1px dotted #fff;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }
    .menu-bar ul li:hover .sub-menu1 ul li:last-child{
        border-bottom: none;
    }
    .menu-bar ul li:hover .sub-menu1 ul li a:hover{
        color:yellow;
    }
    .sub-menu2{
        display: none;
    }
    .menu-bar ul li:hover .sub-menu1 ul li:hover .sub-menu2{
        background-color:purple;
        display:block;
        position: absolute;
        background-color: purple;
        margin-top: 10px;
        margin-left: 110px;
    }
    .menu-bar ul li:hover .sub-menu1 ul li:hover .sub-menu2 ul{
        display: block;
        margin:10px;
    }
    .menu-bar ul li:hover .sub-menu1 ul li:hover .sub-menu2 ul li{
        width:150px;   
        padding: 10px;
        border-bottom: 1px dotted #fff;
        background: transparent;
        border-radius: 0;
        text-align: right;
    }
    .menu-bar ul li:hover .sub-menu1 ul li:hover .sub-menu2 ul li:last-child{
        border-bottom: none;
    }